{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "hmcts-progress-bar/macro.njk" import hmctsProgressBar %}
{% from "widgets/lists.html" import unorderedList %}

{% set checklistItems = [] %}
{% set codicilsSuffix = "" %}

{% if fields.caseType.value === globals.caseTypes.gop %}
    {% if fields.hasCodicils.value == "true" and fields.codicilsNumber.value > "0" %}
        {% set checklistItems = (checklistItems.push(content["block1Checklist-item1-will-codicils"]), checklistItems) %}
        {% set codicilsSuffix = "-codicils" %}
    {% else %}
        {% set checklistItems = (checklistItems.push(content["block1Checklist-item1-will-no-codicils"]), checklistItems) %}
    {% endif %}

    {% if fields.uploads.value | length == 0 %}
        {% set checklistItems = (checklistItems.push(content["block1Checklist-item3-will-not-uploaded"]), checklistItems) %}
    {% endif %}

    {% if (fields.is205.value == "true") %}
        {% set checklistItems = (checklistItems.push(content["block1Checklist-item4-iht205"]), checklistItems) %}
    {% endif %}

    {% if fields.hasRenunciated.value == "true" %}
        {% set checklistItems = (checklistItems.push(content["block1Checklist-item5-spouse-renunciated"] | replace("{renunciationFormLink}", globals.links.renunciationForm)), checklistItems) %}
    {% endif %}

    {% if fields.executorsNameChangedByDeedPollList.value | length > 0 %}
        {% for executor in fields.executorsNameChangedByDeedPollList.value %}
            {% set checklistItems = (checklistItems.push(content["block1Checklist-item6-deed-poll"] | replace("{executorCurrentName}", executor)), checklistItems) %}
        {% endfor %}
    {% endif %}
{% else %}
    {% if fields.spouseRenouncing.value === "true" %}
        {% set checklistItems = (checklistItems.push(content["block1Checklist-item2-spouse-renouncing"] | replace("{renunciationFormLink}", globals.links.renunciationForm)), checklistItems) %}
    {% endif %}
    {% if fields.uploads.value | length === 0 %}
        {% set checklistItems = (checklistItems.push(content["block1Checklist-item3-will-not-uploaded"]), checklistItems) %}
    {% endif %}
    {% if (fields.is205.value === "true") %}
        {% set checklistItems = (checklistItems.push(content["block1Checklist-item4-iht205"]), checklistItems) %}
    {% endif %}
{% endif %}

{% block form_content %}
    <h1 class="govuk-heading-l">{{ content.title | safe }}</h1>
    {% if fields.ccdReferenceNumber.value != "" %}
        <p class="govuk-body margin-bottom50">{{ content.block1Text1 | replace("{ccdReferenceNumberAccessible}", fields.ccdReferenceNumberAccessible.value) | replace("{ccdReferenceNumber}", fields.ccdReferenceNumber.value) | safe }}</p>
    {% endif %}

    {{ hmctsProgressBar({
        classes: 'margin-bottom50',
        items: [{
            label: {
                text: content.progressStep1
            },
            complete: true
        }, {
            label: {
                text: content["progressStep2"]
            },
            complete: fields.sentDocuments.value == "true"
        }, {
            label: {
                text: content["progressStep3"]
            },
            complete: fields.documentsReceived.value == "true"
        }]
    }) }}

    {% if fields.sentDocuments.value != "true" %}
        <div class="margin-bottom50">
            <h2 class="govuk-heading-m">{{ content.block1Heading1 }}</h2>
            <p class="govuk-body">{{ content.block1Text2 | safe }}</p>
            {{ unorderedList(checklistItems) }}

            <p class="govuk-body">{{ content.block1Text3 | safe }}</p>

            {% if fields.ccdReferenceNumber.value != "" %}
                <p class="govuk-body">{{ content.block1Text4 | replace("{ccdReferenceNumberAccessible}", fields.ccdReferenceNumberAccessible.value) | replace("{ccdReferenceNumber}", fields.ccdReferenceNumber.value) | safe }}</p>
            {% endif %}

            <p class="govuk-body">{{ content.block1Text5 | safe }}</p>

            <div class="panel panel-border-wide">
                <p class="govuk-body">{{ content.block1Text6 | safe }}</p>
            </div>

            <h3 class="govuk-heading-s">{{ content.block1Heading2 | safe }}</h3>
            <p class="govuk-body">{{ content.block1Text7 | safe }}</p>

            <div class="panel panel-border-narrow">
                <p class="govuk-body">{{ fields.registryAddress.value | safe | nl2br }}</p>
            </div>

            {{ govukCheckboxes({
                idPrefix: "sentDocuments",
                name: "sentDocuments",
                fieldset: {
                    legend: {
                        text: content.sentDocuments,
                        classes: "govuk-visually-hidden"
                    }
                },
                errorMessage: { text: fields.sentDocuments.errorMessage.message | safe } if fields.sentDocuments.errorMessage,
                items: [
                    {
                        value: true,
                        text: content.sentDocuments
                    }
                ]
            }) }}

            <div class="govuk-form-group">
                {{ govukButton({
                    text: content.continue,
                    preventDoubleClick: true
                }) }}
            </div>
        </div>
    {% else %}
        <h2 class="govuk-heading-m">{{ content.block2Heading | safe }}</h2>

        {% if fields.receivedDocuments.value != "true" %}
            <p class="govuk-body">{{ content.block2Text1 }}</p>
            <p class="govuk-body">{{ content.block2Text2 }}</p>
            <p class="govuk-body">{{ content.block2Text3 }}</p>
        {% else %}
            <p class="govuk-body">{{ content.block3Text1 }}</p>
            <p class="govuk-body">{{ content.block3Text2 | safe }}</p>
            <p class="govuk-body">{{ content.block3Text3 }}</p>
        {% endif %}
    {% endif %}

    {% block save_and_close %}{% endblock %}
{% endblock %}

{% block aside %}
    <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
        <h3 class="govuk-heading-s">{{ content.block4Heading | safe }}</h3>
        {% if fields.checkAnswersSummary.value == "true" %}
            <p class="govuk-body save-this-page-link">
                <em class="icon icon-file-download"></em>
                <a class="govuk-body-s govuk-link anchor-margin-left" id="checkAnswerHref" href="/check-answers-pdf">{{ content.caseOverviewPdf }}</a>
            </p>
        {% endif %}
        {% if fields.legalDeclaration.value == "true" %}
            <p class="govuk-body">
                <em class="icon icon-file-download"></em>
                <a class="govuk-body-s govuk-link anchor-margin-left" id="declarationPdfHref" href="/declaration-pdf">{{ content.declarationPdf }}</a>
            </p>
        {% endif %}
        <p class="govuk-body">
            <em class="icon icon-file-download"></em>
            <a class="govuk-body-s govuk-link anchor-margin-left" id="coverSheetPdfHref" href="/cover-sheet-pdf">{{ content.coverSheetPdf }}</a>
        </p>
        <p class="govuk-body">
            <em class="icon icon-file-download"></em>
            <a class="govuk-body-s govuk-link anchor-margin-left" id="documentsListPdfHref" href="/documents-list-pdf">{{ content.documentsListPdf }}</a>
        </p>
    </aside>
</div>
{% endblock %}

